<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stream Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/loginin.css">
</head>
<body>
  <form class="form" method="post" action="/login">
  <h1>Stream Login</h1>

  <div class="block-cube">
    <input type="text" name="username" placeholder="Username" required>
  </div>

  <div class="block-cube">
    <input type="password" name="password" placeholder="Password" required>
  </div>

  <div class="block-cube">
    <button type="submit" class="btn">Log In</button>
  </div>

  <div class="block-cube">
    <button type="button" class="google">Log in with Google</button>
  </div>

  <div class="mode-toggle">
    <button type="button">Toggle Light/Darki Mode</button>
  </div>
</form>
<a href="/Google/login" style="padding: 10px 20px; background-color: #4285F4; color: white; border-radius: 4px; text-decoration: none; font-weight: bold;">
  Login with Google
</a>
 <script src="/static/javascript/loginin.js"></script>
</body>
</html>
