<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Stream Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
  <div class="profile-container">
    <div class="block-cube profile-image">
      <img id="profile-pic" src="" alt="Profile Image">
    </div>

    <div class="block-cube profile-info">
      <h2 class="username" id="username">Loading...</h2>
      <p class="bio" id="bio">Please wait</p>
    </div>

    <div class="block-cube status-update">
      <textarea placeholder="update your profile to have data here?"></textarea>
    </div>

    <div class="block-cube">
      <button id="toggle-mode">Toggle Light Mode</button>
    </div>
  </div>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/javascript/profile.js"></script>
</body>
</html>
