<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Stream </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/register.css">
</head>
<body>
  <form class="form">
    <h1>Stream</h1>

    <div class="block-cube">
      <input type="text" placeholder="Username" required>
    </div>

    <div class="block-cube">
      <input type="email" placeholder="Email" required>
    </div>

    <div class="block-cube">
      <input type="password" placeholder="Password" required>
    </div>

    <div class="block-cube">
      <button type="submit" class="btn">register</button>
    </div>

    <div class="block-cube">
      <button type="button" class="google">Log in with Google</button>
    </div>

    <div class="mode-toggle">
      <button type="button" id="toggle-mode">Toggle Light/Dark Mode</button>
    </div>
  </form>

  <script src="static/javascript/register.js"></script>
</body>
</html>
